@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Firefox */
.blue_scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgb(99, 102, 241) #7b7f89;
}

/* Chrome, Edge, and Safari */
.blue_scrollbar::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

.blue_scrollbar::-webkit-scrollbar-track {
  background: #7b7f89;
  border-radius: 5px;
}

.blue_scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(99, 102, 241);
  border-radius: 14px;
  border: 3px solid #7b7f89;
}

.main_heading {
  @apply text-2xl md:text-3xl lg:text-4xl font-bold mt-2;
}

.sub_heading {
  @apply text-xl md:text-2xl lg:text-3xl font-bold mt-2;
}

.sub_sub_heading {
  @apply text-lg md:text-xl lg:text-2xl font-bold mt-2;
}

.content_container {
  @apply bg-black text-white dark:bg-white dark:text-black flex flex-col gap-3 p-3 rounded-md font-semibold;
}

/* Custom Table Styles */

/* Light Mode */
@media (prefers-color-scheme: light) {
  /* Table */
  table {
    @apply w-full md:w-[800px] border-collapse border rounded my-2 border-gray-300;
  }

  /* Table Header */
  table th {
    @apply text-left py-2 px-4 border-b border-gray-300 bg-gray-100;
  }

  /* Table Body */
  table td {
    @apply py-2 px-4 border-b border-gray-300;
  }

  /* Hover Effect */
  table tbody tr:hover {
    @apply bg-gray-100;
  }

  /* Striped Rows */
  table tbody tr:nth-child(even) {
    @apply bg-gray-200;
  }
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  /* Table */
  table {
    @apply w-full md:w-[800px] border-collapse border rounded my-2 border-gray-700;
  }

  /* Table Header */
  table th {
    @apply text-left py-2 px-4 border-b border-gray-700 bg-gray-800 text-white;
  }

  /* Table Body */
  table td {
    @apply py-2 px-4 border-b border-gray-700 dark:border-gray-900;
  }

  /* Hover Effect */
  table tbody tr:hover {
    @apply bg-gray-100 dark:bg-gray-900;
  }

  /* Striped Rows */
  table tbody tr:nth-child(even) {
    @apply bg-gray-800;
  }
}
